
/************ start courses page ************/

.courses-page {
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    margin: 30px 20px;

}


@media (max-width:767px){
    .courses-page{
        grid-template-columns: minmax(200px,1fr) !important;
       margin: 30px 10px !important;
    }
}
.courses-page .course {
overflow: hidden;
}

.courses-page .course .covere{
    max-width: 100%;
    width: 100%;
}
.courses-page .course  .instractor{
    width: 60px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    top: 20px;
    left: 20px;
}

.courses-page .course .head-course{
    padding: 20px;
}

.course-info{
    border-top: 1px solid #eee;
}
.course-info span:nth-child(1){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-13px;
    padding: 3px 8px;
}

/************ end courses page ************/
