
/************ start friends page ************/

.friends-page {
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    margin: 30px 20px;

}


@media (max-width:767px){
    .friends-page{
        grid-template-columns: minmax(200px,1fr) !important;
       margin: 30px 10px !important;
    }
    .friend-info{
        flex-direction: column-reverse;
    }
    .friend-info span{
        margin-top: 10px;
    }
}

.friends-page .contact{
position: absolute;
left: 10px;
top: 10px;
}

.friends-page .contact i{
    border-radius: 50%;
    color: #666;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.3s ;
    cursor: pointer;
}

.friends-page .contact i:hover{
    color: white;
    background-color: var(--blue-color);
}

.friends-page .friend img {
width: 100px;
height: 100px;
border-radius: 50%;
}

.friend-icons{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px 0;

}

.friend-icons .vip{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: var(--red-color);
    opacity: 0.2;
}
.friend-info a{
    padding: 4px 10px;
    letter-spacing: 1px;
}
/************ end friends page ************/
